<div class='container'>
<h1>Editing Scripture</h1>

<%= render 'form' %>

<%= link_to 'Show', @scripture, :class => 'btn btn-default btn-sm' %> |
<%= link_to 'Back', scriptures_path, :class => 'btn btn-default btn-sm' %>
</div>
