<div class='container'>
<h1>Editing Programme</h1>

<%= render 'form' %>

<%= link_to 'Show', @programme, :class => 'btn btn-default btn-sm' %> |
<%= link_to 'Back', programmes_path, :class => 'btn btn-default btn-sm' %>

</div>
