<div class="container">

<h1>Admin Dashboard</h1>

<ul>
  <li><%= link_to 'Users', users_path, {:class => 'btn btn-default btn-sm'} %></li>
  <li><%= link_to "Create User", admin_new_user_path %></li>
</ul>

</div>
