<div class='container'>
  <h1>But wait, there's more . . . </h1>
  <div class='col-sm-10'>
    <div class='panel panel-default'>
      <div class='panel-body'>
        <p>
          Welcome to <b>Worship On Rails</b>, the entirely cloud-based video projection application. I built this with churches in mind (the kind of church where you may find a projection screen, drum set, guitars, jeans, etc...), but I imagine it could be just as useful for lecturers, seminars, or classrooms. If you're looking for a video projection app to simply display content with dynamically changeable colours, fonts, backgrounds, video-loops -- this may be your thing.
        </p>
        <p>We're still in testing right now. Contact me by emailing to: samueljlawson (at) gmail.com to setup a demonstration and get in on the beta testing team!
        </p>
        <p>
          Thanks!<br />
          Samuel J. Lawson
        </p>
      </div>
    </div>
  </div>
</div>
