<div class='container'>
<h1>Editing Song</h1>

<%= render 'form' %>

<%= link_to 'Show', @song, :class => 'btn btn-default btn-sm' %> |
<%= link_to 'Back', songs_path, :class => 'btn btn-default btn-sm' %>
</div>
