<div class='container'>
<h1>Editing Resource</h1>

<%= render 'form' %>

<%= link_to 'Show', @resource, :class => 'btn btn-default btn-sm' %> |
<%= link_to 'Back', resources_path, :class => 'btn btn-default btn-sm' %>
</div>
