<div class='container'>
<h1>New Resource</h1>
<%= link_to 'Back to List', resources_path, :class => 'btn btn-default btn-sm pull-right' %>

<%= render 'form' %>

<%= link_to 'Back to List', resources_path, :class => 'btn btn-default btn-sm' %>
</div>
